// Base Stylesheet
@use "./_variables.scss" as vars;

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, p {
  font-weight: normal;
  color: vars.$black;
  margin: 0 0 15px;
}


.btn {
  position: relative;
  padding: 15px 12px;
  font-size: 16px;
  box-shadow: none;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.5s ease;
  &-primary {
    background: $primary-color;
    color: $white;
    &:hover {
      box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.5);
    }
  }
}
