// Color palette
$white: #ffffff;
$black: #000000;
$gray-light: #f1f6fd;
$gray-dark: #7f8c8d;
$red: #ff0000;
$primary-color: #3498db;
$secondary-color: #2ecc71;
$text-color: #333;

// Font sizes
$font-small: 12px;
$font-medium: 16px;
$font-large: 24px;


// Define breakpoints for different screen sizes
$sm: 576px;   // Small devices (phones)
$md: 769px;   // Medium devices (tablets)
$lg: 992px;   // Medium lager devices
$xl: 1200px;  // Larger devices
$xxl: 1400px; // Extra larger devices